:root {
    --primary-color: white;
    --secondary-color: #222222;
    --primary-text-color: #bdcaeb;
    --secondary-text-color: blue;
    --link-color: #5cc0b8;
    font-family: 'Poppins', san-serif;
}
body {
  /* background: linear-gradient(45deg, rgba(131,58,180,1) 0%, rgba(255,0,151,1) 50%, rgba(255,0,0,1) 71%, rgba(255,115,0,1) 76%, rgba(245,255,0,1) 100%); */
  background: url(/assets/background.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.side-nav {
  display: block;
  height: 100%;
  width: 300px;
  position: static;
  left: 0;
  background-color: black;
  border-radius: 30px;
}
.side-nav-portrait {
  background-color: #222222;
  border-radius: 30px;
  padding: 20px;
}
.side-nav-portrait img {
  width: 250px;
  padding-top: 20px;
  border-radius: 30px;
}
.side-nav-portrait {
  color: white;
  font-family: 'Poppins', san-serif;
  text-align: center;
}
.side-nav a {
  display: block;
  justify-content: left;
  font-size: 2.5rem;
  color: white;
  font-family: 'Poppins', san-serif;
  padding: 14px 16px;
  text-decoration: none;
}
.side-nav a:hover {
  background-color: var(--secondary-color);
  color: white;
  /* border-radius: 30px; */
}
.sidenav a:active {
background-color: var(--secondary-color);
}
.side-nav-socials {
  display: flex;
  flex-direction: row;
}
.side-nav-socials i {
  width: 10px;
  padding: 5px;
}
.side-nav-button {
  padding: 20px
}
footer {
  color: white;
  margin: 100px 0 0 0;
  padding: 10px;
  background-color: black;
  border-radius: 30px;
  font-family: 'Poppins', san-serif;
}